/* 
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px):
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights:
Default: 400
Bold: 700

- Line heights:
Default: 1
Small: 
Medium:
Paragraph default: 1.6

- Letter spacing:


--- 02 COLORS

- Primary: 
- Tints: 
- Shades: 
- Grays: 

--- 03 SHADOWS

0 2.4rem 4.8rem rgba(0, 0, 0, 0.075)

--- 04 BORDER-RADIUS
Default:
Medium: 

--- 05 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

/* Initial CSS Setup */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;

  /* Smooth scroll */
  scroll-behavior: smooth;

  overflow-x: hidden;
}

body {
  font-family: Merriweather, serif;
  line-height: 1;
  font-weight: 400;
  color: #495057;
  overflow-x: hidden;
}

img,
picture,
video,
svg {
  display: block;
  max-width: 100%;
  object-fit: contain;
}

/* *************** */
/*      GENERAL    */
/* *************** */

/* Underline animation on hover */
.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #37b24d;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: -5px;
  left: 0;
  background-color: #37b24d;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* Headings */

.heading-primary {
  font-size: 6.2rem;
  font-weight: 700;
  margin-bottom: 3.2rem;
}

.heading-primary span {
  color: #69db7c;
}

.heading-secondary {
  font-size: 4.4rem;
  color: #2b8a3e;
  font-weight: 700;
  margin-bottom: 3.2rem;
}

.heading-secondary span {
  color: #a5560e;
}

.heading-tertiary {
  font-size: 3.6rem;
  color: #2b8a3e;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.heading-tertiary-onAccent {
  font-size: 3rem;
  color: #fff;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

/* Buttons */
.btn:link,
.btn:visited {
  color: #fff;
  text-decoration: none;
  font-size: 1.6rem;
  letter-spacing: 0.3rem;
  background-color: #a5560e;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 0.5rem;
  padding: 1.6rem 2.4rem;
}

.btn:hover,
.btn:active {
  background-color: #572a00;
  transition: 0.3s all;
}

/* Grids / Flexes */

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 3.2rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
  row-gap: 12rem;
}

.grid-center--v {
  align-items: center;
}

/* Margins */
.margin-m {
  margin-bottom: 3.2rem;
}

/* *************** */
/*      MENU       */
/* *************** */
.menu-container {
  display: flex;
  justify-content: space-between;
  margin: 0 9.6rem;

  padding: 3.2rem 0;
}

section .logo {
  color: #fff;
  font-size: 2.4rem;
  font-weight: 700;
  text-decoration: none;
}

.logo {
  color: #2b8a3e;
  font-size: 2.4rem;
  font-weight: 700;
  text-decoration: none;
}

.main-nav-list {
  list-style: none;
  font-size: 2rem;

  display: flex;
  gap: 2.4rem;
}

section .main-nav-link:link,
section .main-nav-link:visited {
  color: #eee;
  text-decoration: none;
}

.main-nav-link:link,
.main-nav-link:visited {
  color: #2b8a3e;
  text-decoration: none;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #69db7c;
  transition: 0.3s all;
}

/* *************** */
/*   HERO SECTION  */
/* *************** */
.section-hero--background,
.home-section-hero--background,
.about-section-hero--background,
.steps-section-hero--background,
.benefits-section-hero--background {
  background-size: cover;
  color: #eee;
  height: 100vh;
  margin-bottom: 3.2rem;
}

.section-hero--background {
  color: #495057;
}

.home-section-hero--background {
  background-image: linear-gradient(
      rgba(31, 31, 31, 0.5),
      rgba(31, 31, 31, 0.5)
    ),
    url(../img/home/hero.jpg);
}

.about-section-hero--background {
  background-image: linear-gradient(
      rgba(31, 31, 31, 0.8),
      rgba(31, 31, 31, 0.8)
    ),
    url(../img/about-us/about-us-hero.jpg);
  margin-bottom: 2.4rem;
}

.steps-section-hero--background {
  /* background-image: linear-gradient(to right, rgb(43, 138, 62), #5c940d); */
  background-image: linear-gradient(
      rgba(31, 31, 31, 0.8),
      rgba(31, 31, 31, 0.8)
    ),
    url(../img/steps/steps-hero.jpg);
  margin-bottom: 9.6rem;
}

.benefits-section-hero--background {
  background-image: linear-gradient(
      rgba(31, 31, 31, 0.8),
      rgba(31, 31, 31, 0.8)
    ),
    url(../img/benefits/hero.jpg);
  margin-bottom: 9.6rem;
}

.section-hero {
  height: 75%;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 9.6rem;
}

.our-work-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 9.6rem;
}

.hero-textbox {
  text-align: center;
}

.hero-paragraph {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 4.8rem;
  line-height: 1.6;
}

/* Pagination for Steps */
.steps-img {
  display: block;
  height: 20rem;
  margin: 0 auto 4.8rem auto;
}

.steps-pagination {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 2.4rem;
}

.steps-pagination a:link,
.steps-pagination a:visited {
  font-size: 2rem;
  color: #fff;
  text-decoration: none;
  width: 36px;
  height: 36px;
  padding: 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #572a00;
  background-color: #a5560e;
  border-radius: 50%;
  z-index: 1;
}

.steps-pagination a:hover,
.steps-pagination a:active {
  background-color: #572a00;
  transition: 0.3s all;
}

.steps-pagination::after {
  content: "";
  background-color: #fff;
  width: 75%;
  height: 2px;
  position: absolute;
  top: 50%;
  z-index: 0;
}

/* Our Work Page */
.hero-img-box img {
  height: 50rem;
}

/* **************** */
/* PARTNERS SECTION */
/* **************** */
.section-partners {
  margin-bottom: 3.2rem;
}

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.subheading {
  color: #888;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  font-size: 1.4rem;
  letter-spacing: 0.75px;
}

.partners {
  text-align: center;
}

.partners-img-box {
  height: 10.8rem;

  display: flex;
  justify-content: center;
  gap: 9.6rem;
}

/* **************** */
/* NEWSLETTER SECTION */
/* **************** */
.section-newsletter {
  margin-bottom: 6.4rem;
}

.newsletter {
  background-color: #2b8a3e;
  color: #fff;
  padding: 4.8rem 0;
  border-radius: 1rem;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.newsletter p {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.newsletter h3 {
  font-size: 3.2rem;
  margin-bottom: 2.4rem;
}

.newsletter-form {
  display: flex;
  justify-content: center;
  width: 100%;
}

.newsletter-input {
  width: 50%;
  border: none;
  padding: 2.4rem 2rem;
  border-top-left-radius: 10rem;
  border-bottom-left-radius: 10rem;
}

.newsletter-btn {
  border: none;
  border-top-right-radius: 10rem;
  border-bottom-right-radius: 10rem;
  background-color: #a5560e;
  color: #fff;
  width: 15rem;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.75px;
  cursor: pointer;
  transition: 0.3s all;
}

/* **************** */
/*  FOOTER SECTION  */
/* **************** */
.footer {
  border-top: 1px solid #eee;
  padding: 4.8rem 0;
}

.grid--footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.logo-col {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.footer-logo {
  text-decoration: none;
  color: #2b8a3e;
  font-size: 2.4rem;
  font-weight: 700;
}

.socials {
  gap: 2rem;
  font-size: 2.6rem;

  display: flex;
}

.socials a:link,
.socials a:visited {
  text-decoration: none;
  color: #2f9e44;
}

.socials a:hover,
.socials a:active {
  color: #2b8a3e;
  transition: 0.3s all;
}

.footer-address {
  font-style: normal;
}

.footer-heading {
  font-size: 1.6rem;
  margin-bottom: 2.4rem;
}

.footer-col {
  font-size: 1.4rem;
}

.footer-col ul {
  list-style: none;
}

.footer-col li {
  margin-bottom: 1.6rem;
}

.footer-col a:link,
.footer-col a:visited {
  text-decoration: none;
  color: #495057;
}

/* *************** */
/*  ABOUT SECTION  */
/* *************** */
.section-about {
  margin-bottom: 6.4rem;
  border-bottom: 1px solid #eee;
}

.about {
  padding: 4.8rem 0;
}

.grid-about {
  display: grid;
  grid-template-columns: 10fr 90fr;
  justify-content: center;
  align-items: center;
}

.overview h3 {
  text-align: center;
  font-size: 1.6rem;
  letter-spacing: 1px;
  transform: rotate(-90deg);
}

.about-description--box {
  padding: 4.8rem 0;
  border-left: 1px solid #000;
  padding-left: 3.2rem;
}

.about-description {
  font-size: 1.6rem;
  line-height: 1.6;
}

/* **************** */
/*  THEMES SECTION  */
/* **************** */
.section-themes {
  margin-bottom: 9.6rem;
}

.themes-heading--box {
  width: 75%;
  margin-bottom: 6.4rem;
  text-align: center;
}

.heading-description {
  font-size: 2rem;
  line-height: 1.6;
  text-align: center;
}

.theme-box {
  padding: 6.4rem;
}

.themes-description--onAccent {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #ddd;
}

.themes-description {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #495057;
}
.themes-img-box img {
  height: 35rem;
  border-radius: 1rem;
}

.bg-accent {
  background-image: linear-gradient(
    to right,
    rgb(43, 138, 62),
    rgb(55, 178, 78)
  );
  border-radius: 1rem;
}

/* **************** */
/*  STEPS SECTION  */
/* **************** */
.section-steps {
  margin-bottom: 9.6rem;
}

.steps-img--box img {
  width: auto;
  height: 35rem;
  margin-left: auto;
  margin-right: auto;
}

.steps-text--box h4 {
  font-size: 5.6rem;
  margin-bottom: 1.6rem;
  color: #adb5bd;
}

.steps-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

/* SHOWCASE SECTION */
.section-showcase {
  margin-top: 9.6rem;
}

.testimonial {
  gap: 3.2rem;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.04);
  padding: 4.8rem 0;
  margin-bottom: 3.2rem;
}

.testimonial-text-box {
  width: 60rem;
  position: relative;
}

.testimonial-img-box img {
  height: 20rem;
  border-radius: 4px;
}

.testimonial-quotes {
  font-size: 4.8rem;
  position: absolute;
  top: -5rem;
}

.ph-fill {
  color: #255903;
}

.testimonial-description {
  font-size: 2rem;
  margin-bottom: 3.2rem;
  line-height: 1.6;
  color: #343a40;
}

.testimonial-client {
  color: #495057;
  font-size: 1.8rem;
  margin-bottom: 1.2rem;
  font-weight: 700;
}

.testimonial-details {
  font-size: 1.8rem;
}

.gallery {
  gap: 1.6rem;
  margin-bottom: 9.6rem;
}

.gallery img {
  height: 25rem;
  transition: all 0.1s;
}

.gallery img:hover {
  transform: scale(1.5);
}

/* ***************** */
/* BENEFITS SECTION  */
/* ***************** */
.benefits-icon {
  font-size: 6.4rem;
  color: #b2f2bb;
  margin-right: 2.4rem;
}

.section-benefits {
  margin-bottom: 9.6rem;
}

.benefits-img--box img {
  width: auto;
  height: 35rem;
  margin-left: auto;
  margin-right: auto;
}

.benefits-text--box h4 {
  font-size: 5.6rem;
  margin-bottom: 1.6rem;
  color: #adb5bd;
}

.benefits-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

/* **************************** */
/* BELOW 544px (Phones) */
/* **************************** */
@media (max-width: 34em) {
  /* HOME */
  .menu-container {
    flex-direction: column;
    align-items: center;
    margin: 0 1.6rem;
    gap: 1.6rem;
  }

  .main-nav-list {
    font-size: 1.2rem;
    gap: 1rem;
  }

  .home-section-hero--background {
    margin-bottom: 4.8rem;
  }

  .section-partners {
    margin-bottom: 4.8rem;
  }

  .partners-img-box {
    height: 6.4rem;
    gap: 2.4rem;
  }

  .newsletter-form {
    flex-direction: column;
    align-items: center;
    gap: 2.4rem;
  }

  .newsletter-input {
    width: 80%;
    border-radius: 10rem;
  }

  .newsletter h3 {
    font-size: 2.4rem;
    margin-bottom: 3.2rem;
  }

  .newsletter-btn {
    font-size: 1.6rem;
    border-radius: 1.2rem;
    padding: 1.8rem 2.4rem;
  }

  .grid--footer {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 4.8rem;
    row-gap: 1.6rem;
  }

  .logo-col {
    grid-row: 2;
    grid-column: span 3;
    align-self: center;
    justify-self: center;
    text-align: center;
  }

  .socials {
    justify-content: center;
  }

  /* ABOUT US */
  .heading-primary {
    font-size: 4.8rem;
    line-height: 1.2;
  }

  .grid-about {
    display: flex;
    flex-direction: column;
  }

  .overview h3 {
    transform: none;
    margin-bottom: 1.6rem;
  }

  .about-description--box {
    border: none;
    padding: 4.8rem 2.4rem;
    border-top: 1px solid #000;
  }

  .heading-secondary {
    font-size: 3.2rem;
  }

  .heading-description {
    font-size: 1.6rem;
    text-align: left;
  }

  .theme-box {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    padding: 3.2rem;
  }

  .themes-img-box img {
    height: auto;
    width: 50rem;
  }

  .heading-tertiary-onAccent {
    font-size: 2.4rem;
    margin-bottom: 3.2rem;
  }

  .hero-paragraph {
    font-size: 1.6rem;
  }

  /* STEPS */

  .section-hero--mobile {
    display: block;
    padding: 0;
  }

  .steps-img {
    margin: 0 0 3.2rem;
    padding: 0 3.2rem;
    height: auto;
  }

  .steps-pagination {
    gap: 1.6rem;
  }

  .steps-pagination a:link,
  .steps-pagination a:visited {
    font-size: 1.4rem;
    padding: 1.6rem;
  }

  .steps {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3.2rem;
  }

  #step-01 {
    grid-row: 1;
  }

  #step-02 {
    grid-row: 4;
  }

  #step-04 {
    grid-row: 8;
  }

  #step-06 {
    grid-row: 12;
  }

  /* OUR WORK */
  .our-work-box {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .hero-img-box {
    padding: 0 2.4rem;
  }

  .section-showcase {
    margin-top: 1.2rem;
  }

  .flex-center {
    flex-direction: column;
  }

  .testimonial-img-box {
    margin-bottom: 4.8rem;
  }

  .testimonial-text-box {
    width: auto;
  }

  .gallery {
    border-bottom: #adb5bd 1px solid;
    margin-bottom: 4.8rem;
  }
}
